extends layout

block content
  header#header
    h1= title
    p Welcome to #{title}

  main#app
    figure.videos
      video(
        id="self-video"
        autoplay
        muted
        playsinline
      )
      video(
        id="peer-video"
        autoplay
      )
      figcaption
        button#call-button Start Call

    div.checkerboard
      a.red(id='1',href='#')
      a.black(id='2',href='#')
      a.red(id='3',href='#')
      a.black(id='4',href='#')
      a.red(id='5',href='#')
      a.black(id='6',href='#')
      a.red(id='7',href='#')
      a.black(id='8',href='#')

      a.black(id='9',href='#')
      a.red(id='10',href='#')
      a.black(id='11',href='#')
      a.red(id='12',href='#')
      a.black(id='13',href='#')
      a.red(id='14',href='#')
      a.black(id='15',href='#')
      a.red(id='16',href='#')

      a.red(id='17',href='#')
      a.black(id='18',href='#')
      a.red(id='19',href='#')
      a.black(id='20',href='#')
      a.red(id='21',href='#')
      a.black(id='22',href='#')
      a.red(id='23',href='#')
      a.black(id='24',href='#')

      a.black(id='25',href='#')
      a.red(id='26',href='#')
      a.black(id='27',href='#')
      a.red(id='28',href='#')
      a.black(id='29',href='#')
      a.red(id='30',href='#')
      a.black(id='31',href='#')
      a.red(id='32',href='#')

      a.red(id='33',href='#')
      a.black(id='34',href='#')
      a.red(id='35',href='#')
      a.black(id='36',href='#')
      a.red(id='37',href='#')
      a.black(id='38',href='#')
      a.red(id='39',href='#')
      a.black(id='40',href='#')

      a.black(id='41',href='#')
      a.red(id='42',href='#')
      a.black(id='43',href='#')
      a.red(id='44',href='#')
      a.black(id='45',href='#')
      a.red(id='46',href='#')
      a.black(id='47',href='#')
      a.red(id='48',href='#')

      a.red(id='49',href='#')
      a.black(id='50',href='#')
      a.red(id='51',href='#')
      a.black(id='52',href='#')
      a.red(id='53',href='#')
      a.black(id='54',href='#')
      a.red(id='55',href='#')
      a.black(id='56',href='#')

      a.black(id='57',href='#')
      a.red(id='58',href='#')
      a.black(id='59',href='#')
      a.red(id='60',href='#')
      a.black(id='61',href='#')
      a.red(id='62',href='#')
      a.black(id='63',href='#')
      a.red(id='64',href='#')

  script.
